/* Shared styles */
*{
  box-sizing: border-box;
}
.container{
  max-width:1440px;
  margin:0 auto;
}
.display-flex{
  display: flex;
}
.btn-primary{
  font-size:20px;
  font-weight: 700;
  color:rgb(255, 255, 255);
  padding:20px 43px;
  background-color:rgb(229, 84, 115);
  border-radius:8px;
  border:none;
}
.title-primary{
  font-size:2.5rem;
  font-weight:800;
  color:rgb(39, 39, 39);
}
.subtitle-primary{
  font-size:1.125rem;
  font-weight:400;
  color:rgba(39, 39, 39, 0.6);
}
.bg-for-discount-section{
  background-color:rgba(229, 84, 115, 0.05);
}

/* Header styles */
.header-image img{
  width:635px;
  height:800px;
}
.header-parent{
  justify-content: space-between;
  align-items: center;
  gap:97px;
  background-color:rgba(229, 84, 115, 0.1);
  padding-left:240px;
  padding-right:240px;

}
.header-title{
  font-size:80px;
  font-weight: 800;
  color: rgb(39, 39, 39);
}
.header-subtitle{
  font-size:18px;
  font-weight:400;
  color:rgba(39, 39, 39, 0.6);
}
.header-contents{
  max-width: 708px;
}

/* Featured Flowers styles */
.featured-flowers-cards-parent{
  display: flex;
  gap:24px;
  justify-content:space-between;
  margin-top:48px;
}
.featured-flowers-cards-parent img{
  width:310px;
  height:428px;
}
.featured-flower-card-image{
  width:464px;
  height:538px;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius:300px;
  border-top-right-radius:300px;
}
.one{
  background-color: rgba(167, 33, 98, 0.15);
}
.two{
  background-color: rgba(5, 151, 160, 0.15);
}
.three{
  background-color: rgba(71, 125, 17, 0.15);
}
.featured-flowers{
  text-align: center;
  margin-top:178px;
}
.featured-flower-card-title{
  font-size:24px;
  font-weight:700;
}
.featured-flower-card-title a{
  color:rgb(39, 39, 39);
}

/* customer support related styled */
.customer-support{
  background-color:rgba(39, 39, 39, 0.05);
  justify-content: space-between;
  text-align:center;
  padding:85px 175px;
  gap:100px;
  margin-top:128px;
}
.support-title{
  font-size:1.5rem;
  font-weight:600;
  color:rgba(39, 39, 39, 0.8);
}

/* discount related styles */
.discount{
  margin-top:128px;
  gap:186px;
  align-items:center;
  padding:100px 150px;
  justify-content: space-between;
  text-align:center;
}

/* instagram related styles */
.instagram{
  text-align:center;
  margin-top:128px;
} 
.instagram-images{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:24px;
}
.instagram-contents{
  max-width:594px;
  margin:0 auto;
}
.instagram-contents p{
  margin-top:24px;
  margin-bottom:48px;
}

/* latest deals related styles */
.latest-deals{
  background-image:url('../images/Rectangle\ 9.png');
  background-repeat:no-repeat;
  padding:122px 287px;
  margin-top:128px;
  text-align: center;
  align-items: center;
}
.deals-input input{
  font-size:16px;
  font-weight: 400;
  color:rgba(39, 39, 39, 0.6);
  padding:22px 513px 22px 22px;
  border-radius:8px;
  border:none;
  background-color:rgb(255, 255, 255);
  margin-right:16px;
}
.latest-deals h3{
  margin-top:0;
  margin-bottom:0;
}
.latest-deals p{
  margin-top:16px;
  margin-bottom:48px;
}

/* Responsive media query */
@media screen and (max-width:576px){
  .header-parent{
    flex-direction:column;
    padding-left:10px;
    padding-right:10px;
  }
  .header-image img{
    width:100%;
  }
  .featured-flowers-cards-parent{
    flex-direction:column;
  }
  .featured-flower-card-image{
    width:100%;
  }
  .customer-support{
    flex-direction: column;
    padding:30px 10px;
  }
  .discount{
    flex-direction:column;
    gap:40px;
    padding:20px 20px;
  }
  .instagram-images{
    grid-template-columns:repeat(1, 1fr);
  }
  .latest-deals{
    padding:20px 18px;
  }
  .deals-input input{
    padding:20px 20px;
    margin-right:0;
  }
  .deals-input{
    flex-direction: column;
  }
  .deals-button{
    margin-top:10px;
  }
  .latest-deals p{
    margin-bottom:48px;
  }
}